@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=KoHo:wght@300&display=swap");
* {
  margin: 0;
  color: white;
}

.movie__content {
  height: 100vh;
  width: 100vw;
  background-color: #111;
  /* background-image: url("raya.jpg"); */
  background-size: cover;
  background-position: center center;
}

.movie__poster {
  height: 100vh;
  align-items: center;
  max-width: 100vw;
  object-fit: contain;
}

.movie__details {
  line-height: 1.5;
  margin-left: 4%;
  width: 40%;
  /* border: solid black; */
  position: absolute;
  top: 30%;
}

.movie__details h1 {
  padding-bottom: 20px;
  font-family: "Kaushan Script", cursive;
  font-size: 5rem;
}

button {
  border: none;
  border-radius: 4px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  margin: 10px 10px 40px 10px;
  width: 160px;
  padding: 10px 5px 10px 5px;
  font-size: 20px;
  font-weight: 800;
  font-family: "KoHo", sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.playButton {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.playButton i {
  position: absolute;
  left: 40px;
  top: 13.5px;
  color: black;
}

.trailerButton {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 300ms;
}

.trailerButton i {
  position: absolute;
  left: 30px;
  top: 13.5px;
}

button:hover {
  cursor: pointer;
}

.trailerButton:hover {
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

@media (max-width: 900) {
  .movie__poster {
    position: absolute;
    top: 0%;
  }
}

@media (max-width: 900px) {
  .movie__details {
    /* background-color: transparent; */
  }
  .movie__content {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
  }
  .movie__details {
    /* padding-top: 20%; */
    top: 0;
    margin-top: 0;
    margin-left: 0;
    padding-left: 6vw;
    height: 80vh;
    width: 94vw;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20vh;
  }

  .movie__details h1 {
    padding-top: 10%;
    font-size: 3rem;
  }
}
