* {
  margin: 0;
  /* z-index: -10; */
  /* background-color: #111; */
  /* background-color: rgb(11, 11, 11); */
}

.app {
  background-color: #111;
  text-decoration: none;
}

*::-webkit-scrollbar {
  display: none;
}
